<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

	<%- include('./partials/header') %>

<body>
	<!-- Banner -->
	<div class="banner">
		<img src="../images/descuento.png" alt="" >
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">- Últimas Novedades -</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let index = 0; index < 4; index++) { %>		
				<div class="col-12 col-sm-6 col-lg-3" id="masNuevos">
					<section class="product-box">
						<a href="../product/<%= productos[index].id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%= productos[index].url %>" alt="">			
							</figure>
							<article class="product-box_data">
								<h2><%= productos[index].name %></h2>
								<p>Subido por <a href="/profile/<%= productos[index].usuario.id %>"> <%= productos[index].usuario.name %> </a></p>
								<p>Comentarios: <%= productos[index].comentario.length %></p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">- Más Viejos -</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let index = 0; index < 4; index++) { %>		
				<div class="col-12 col-sm-6 col-lg-3" id="masViejos">
					<section class="product-box" id="productos-viejos">
						<a href="../product/<%= productosViejos[index].id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%= productosViejos[index].url %>" alt="">			
							</figure>
							<article class="product-box_data">
								<h2><%= productosViejos[index].name %></h2>
								<p>Subido por <a href="/profile/<%= productosViejos[index].usuario.id %>"> <%= productosViejos[index].usuario.name %> </a></p>
								<p>Comentarios:<%= productosViejos[index].comentario.length %> </p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>