<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/header') %>
<body>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre %></h2> 
			<p class="product-detail-description">
				<% if(! usuarioLogueado) { %>
				<a href="/product-edit">Editar</a>
				<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= productos.url %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos.descripcionLarga %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/users/Jonah.jpeg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">Jonah Hill </a> </strong>
								 Las <%= productos.name %> son las mejores zapatillas del mundo</p>
							</div>
						</article>
						<article>
							<img src="/images/users/Michael.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Michaerl Cera </a> </strong>
									No me saco mas las <%= productos.name %></p>
							</div>
						</article>
						<article>
							<img src="/images/users/Seth.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Seth Rogen </a> </strong>
									Take my money, just give me the <%= productos.name %>
									</p>
							</div>
						</article>
						<article>
							<img src="/images/users/Chris.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Christopher Mintz-Plasse </a> </strong>
									Juro tener 21 para comprar las <%= productos.name %></p>
							</div>
						</article>
						<article>
							<img src="/images/users/Dave.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Dave Franco </a> </strong>
									Todos en las peliculas que actue tienen las <%= productos.name %></p>
							</div>
						</article>
						<%for (let index = 0; index < productos.comentario.length; index++) { %>		
						<article>
							<img src="/images/users/<%=productos.comentario[index].usuario.url%>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile/"><%=productos.comentario[index].usuario.name%></a> </strong>
									<%= productos.comentario[index].comentario %></p>
							</div>
						</article>
						<%}%>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<input type="submit" class="btn btn-primary" value="Agregar">
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>